
<div class="page-header">
  <h1>Редагувати</h1>
</div>
<%= render :partial => 'form' %>
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">$times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel">Редагувати</h1>
      </div>
      <div class="modal-body">
        <%= render :partial => 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary">Зберегти</button>
      </div>
    </div>
  </div>
</div>